In [1]:
import pandas as pd

In [2]:
path = "https://hbiostat.org/data/repo/titanic.txt"
titanic = pd.read_csv(path)

In [4]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [5]:
# 筛选特征值和目标值
x = titanic[["pclass","age","sex"]]
y = titanic["survived"]

In [7]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [8]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [9]:
# 缺失值处理
x['age'].fillna(x['age'].mean(), inplace=True)

C:\Users\pipickeke\AppData\Local\Temp\ipykernel_17640\214257841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['age'].fillna(x['age'].mean(), inplace=True)

In [12]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [14]:
x = x.to_dict(orient="records")

In [35]:
from sklearn.model_selection import train_test_split
x_trian,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

In [36]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier , export_graphviz

transfer = DictVectorizer()
x_train = transfer.fit_transform(x_trian)
x_test = transfer.transform(x_test)

estimator = DecisionTreeClassifier(criterion="entropy")
estimator.fit(x_train, y_train)

y_predict = estimator.predict(x_test)
print("预测值： \n", y_predict)
print("对比：\n", y_predict == y_test)

print("准确率：\n", estimator.score(x_test, y_test))

export_graphviz(estimator, out_file="titanic_tree.dot", feature_names=transfer.get_feature_names_out)

预测值：
 [0 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
对比：
 831      True
261     False
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率：
 0.7811550151975684

InvalidParameterError: The 'feature_names' parameter of export_graphviz must be an array-like or None. Got <bound method DictVectorizer.get_feature_names_out of DictVectorizer()> instead.